
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// resources/assets/sass/app.scss
@import 'node_modules/jquery-ui/themes/base/all.css';

.fusion-button.button-15 .fusion-button-text, .fusion-button.button-15 i {color:#ffffff;}.fusion-button.button-15 {border-width:0px;border-color:#ffffff;}.fusion-button.button-15 .fusion-button-icon-divider{border-color:#ffffff;}.fusion-button.button-15:hover .fusion-button-text, .fusion-button.button-15:hover i,.fusion-button.button-15:focus .fusion-button-text, .fusion-button.button-15:focus i,.fusion-button.button-15:active .fusion-button-text, .fusion-button.button-15:active{color:#ffffff;}.fusion-button.button-15:hover, .fusion-button.button-15:focus, .fusion-button.button-15:active{border-width:0px;border-color:#ffffff;}.fusion-button.button-15:hover .fusion-button-icon-divider, .fusion-button.button-15:hover .fusion-button-icon-divider, .fusion-button.button-15:active .fusion-button-icon-divider{border-color:#ffffff;}.fusion-button.button-15{background: #e74c3c;}.fusion-button.button-15:hover,.button-15:focus,.fusion-button.button-15:active{background: #c0392b;}.fusion-button.button-15{width:auto;}